.search {
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
  margin-left: 15rem;
  .search__HomeIcon {
    color: white;
    background-color: #66739d;
    font-size: 2rem;
    padding: 0.3rem;
    border-radius: 1rem;
    margin-right: 3.5rem;
    margin-left: 3.5rem;
  }
  .search__Container {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0.9rem;
    border-radius: 2rem;
    width: 50%;
    .MuiSvgIcon-root {
      color: #66739d;
    }
    form {
      flex: 1;
      margin-left: 1rem;
    }
    input {
      width: 100%;
      border: none;
      font-size: 1.3rem;
    }
    input:focus {
      outline: none;
    }
  }
}
