.sidebar {
  flex: 0.2;
  height: 100vh;
  text-align: center;
  background-color: peachpuff;
  display: flex;
  flex-direction: column;
  .sidebar__Top {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 2rem;
  }
  .sidebar__Middle {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 2rem;
    span {
      display: block;
    }
  }
}
